*,
*::before,
*::after {
	box-sizing: border-box;
}

:where(h2, p) {
	margin: 0;
}

body {
	max-width: 60rem;
	margin-inline: auto;
	padding: 0.5rem 1rem;

	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	color: hsl(0deg 0% 21%);
}

h2 > a {
	color: hsl(142 57% 35%);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

main {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
	gap: 1rem;
	max-width: 70rem;
	margin-inline: auto;
}
